.App {
}

.App-header {
  background: url(assets/header-bg.png);
  min-height: calc(100vh + 230px);
  background-size: cover;
  background-position: bottom; 
  color: white;
}

.App-header-logo {
  padding: 36px;
  font-weight: bold;
  font-size: 36px;
}

.App-header-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 70px);
}

.App-header-wrapper-content {
  position: relative;
  top: -18vh;
  text-align: center;
  font-family: Nunito;
  font-weight: bold;
  font-size: 60px;
}

.App-header-wrapper-content-buttons {
  position: relative;
  top: 16vh;
}

.App-header-wrapper-content-buttons button {
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  padding: 0 70px;
  border: #fff solid 1px;
  border-radius: 5px;
  color: #fff;
  background: transparent;
  line-height: 60px;
}

.App-header-wrapper-content-buttons button.btn-solid {
  background: rgba(255, 255, 255, 0.2);
}

.App-header-wrapper-content-buttons-space {
  display: inline-block;
  min-width: 3vw;
  background: red;
}
