.App {

}

.App-header {
  min-width: 100vw;
  min-height: calc(100vh + 240px);
  background: url(assets/header-bg.png) no-repeat;
  background-size: cover;
  background-position: bottom;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

}

.App-header-menu {
  margin-top: -60px;
  min-width: 100vw;
  background: #14213D;
  position: sticky;
  top: 0px;
  width: 100vw;
  color: #fff;
  z-index: 100;
  -webkit-transition: background-color 100ms linear;
  -ms-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
}

.App-header-menu__isTop {
  position: relative;
  top: 90px;
  margin-top: -60px;
  min-width: 100vw;
  background: transparent;
  color: #fff;
}

.App-header-menu-logo {
  padding-left: 36px;
  font-weight: bold;
  font-size: 36px;
  line-height: 60px;
}

.App-header-wrapper-content {
  position: relative;
  top: -18vh;
  text-align: center;
  font-family: Nunito;
  font-weight: bold;
  font-size: 60px;
}

.App-header-wrapper-content-buttons {
  position: relative;
  top: 16vh;
}

.App-header-wrapper-content-buttons button {
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  padding: 0 70px;
  border: #fff solid 1px;
  border-radius: 5px;
  color: #fff;
  background: transparent;
  line-height: 60px;
}

.App-header-wrapper-content-buttons button.btn-solid {
  background: rgba(255, 255, 255, 0.2);
}

.App-header-wrapper-content-buttons-space {
  display: inline-block;
  min-width: 3vw;
  background: red;
}

.App-section {
  margin: 0 auto;
  max-width: 1300px;
  width: calc(100vw - 3em);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-template-areas:
      'title title title'
      'illustration0 illustration1 illustration2'
      'description0 description1 description2';
}

.App-section-h2 {
  margin-bottom: 10px;
  grid-area: title;
  font-family: Roboto;
  font-weight: lighter;
  font-size: 50px;
  line-height: normal;
  color: #14213D;
}

.App-section-illustration0 {
  grid-area: illustration0;
}

.App-section-illustration1 {
  grid-area: illustration1;
}

.App-section-illustration2 {
  grid-area: illustration2;
}

.App-section-description0 {
  grid-area: description0;
  font-family: Roboto;
  font-weight: lighter;
  font-size: 20px;
  text-align: center;
  color: #14213D;
}

.App-section-description1 {
  grid-area: description1;
  font-family: Roboto;
  font-weight: lighter;
  font-size: 20px;
  text-align: center;
  color: #14213D;
}

.App-section-description2 {
  grid-area: description2;
  font-family: Roboto;
  font-weight: lighter;
  font-size: 20px;
  text-align: center;
  color: #14213D;
}

