.App {

}

.App-header {
  min-width: 100vw;
  min-height: calc(100vh + 240px);
  background: url(assets/header-bg.png) no-repeat;
  background-size: cover;
  background-position: bottom;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

}

.App-header-menu {
  margin-top: -60px;
  min-width: 100vw;
  background: #14213D;
  position: sticky;
  top: 0px;
  width: 100vw;
  color: #fff;
  z-index: 100;
  -webkit-transition: background-color 100ms linear;
  -ms-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
}

.App-header-menu__isTop {
  position: relative;
  top: 90px;
  margin-top: -60px;
  min-width: 100vw;
  background: transparent;
  color: #fff;
}

.App-header-menu-logo {
  font-family: RadnikaBold;
  padding-left: 36px;
  font-weight: bold;
  font-size: 36px;
  line-height: 60px;
}

.App-header-wrapper-content {
  position: relative;
  top: -14vh;
  text-align: center;
  font-family: Nunito;
  font-weight: bold;
  font-size: 60px;
}

.App-header-wrapper-content-subtitle {
  padding-top: 5vh;
  font-weight: lighter;
  font-size: 30px;
}

.App-header-wrapper-content-buttons {
  position: relative;
  top: 16vh;
}

.App-header-wrapper-content-buttons a {
  display: inline-block;
  text-decoration: none;
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  padding: 0 70px;
  border: #fff solid 1px;
  border-radius: 5px;
  color: #fff;
  background: transparent;
  line-height: 60px;
}

.App-header-wrapper-content-buttons a:hover, .App-header-wrapper-content-buttons a.btn-solid:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.4);
}

.App-header-wrapper-content-buttons a.btn-solid {
  background: rgba(255, 255, 255, 0.2);
}

.App-header-wrapper-content-buttons-space {
  display: inline-block;
  min-width: 3vw;
}

.App-section {
  margin: 0 auto;
  max-width: 1300px;
  width: calc(100vw - 3em);
}

.App-section-how {
  position: relative;
  top: -60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0 30px;
  grid-template-areas:
    'title title title'
    'illustration0 illustration1 illustration2'
    'description0 description1 description2'; 
}

.App-section-how-h2 {
  padding-top: 60px;
  grid-area: title;
  font-family: Roboto;
  font-weight: lighter;
  font-size: 50px;
  line-height: normal;
  color: #14213D;
  margin-bottom: 70px;
}

.App-section-how-illustration {
  background-position: center bottom;
  background-repeat: no-repeat;
  min-height: 230px;
}

.App-section-how-illustration0 {
  grid-area: illustration0;
  background-image: url(./assets/safe-computer-qr-code.svg);
}

.App-section-how-illustration1 {
  grid-area: illustration1;
  background-image: url(./assets/find-device.svg);
}

.App-section-how-illustration2 {
  grid-area: illustration2;
  background-image: url(./assets/exchange-device-eth.svg);
}

.App-section-how-description0 {
  grid-area: description0;
  font-family: Nunito;
  font-weight: regular;
  font-size: 20px;
  color: #555;
  padding: 0 5%;
}

.App-section-how-description1 {
  grid-area: description1;
  font-family: Nunito;
  font-size: 20px;
  color: #555;
  padding: 0 5%;
}

.App-section-how-description2 {
  grid-area: description2;
  font-family: Nunito;
  font-size: 20px;
  color: #555;
  padding: 0 5%;
}

.App-section-ctas {
  margin-top: 140px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  grid-template-areas:
    'owner finder';
  font-family: Nunito;
}

.App-section-ctas-owner {
  grid-area: owner;
  padding: 65px 74px;
  background: #12C2E9;
  background-image: url(./assets/big-arrow-owner.svg);
  background-position: right bottom;
   background-repeat: no-repeat;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
  border-radius: 5px; 
  color: #fff;
  min-height: 500px;
  display: flex;
  flex-direction: column;
}

.App-section-ctas-finder {
  grid-area: finder;
  padding: 65px 74px;
  background: #fff;
  background-image: url(./assets/big-arrow-finder.svg);
  background-position: right bottom;
   background-repeat: no-repeat;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
}

.App-section-ctas-owner:hover {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out; /** Chrome & Safari **/
  -moz-transition: all 0.2s ease-in-out; /** Firefox **/
  -o-transition: all 0.2s ease-in-out; /** Opera **/
  transform: translate(0, -10px);
  -webkit-transform: translate(0, -10px); /** Chrome & Safari **/
  -o-transform: translate(0, -10px); /** Opera **/
  -moz-transform: translate(0, -10px); /** Firefox **/
}

.App-section-ctas-finder:hover {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out; /** Chrome & Safari **/
  -moz-transition: all 0.2s ease-in-out; /** Firefox **/
  -o-transition: all 0.2s ease-in-out; /** Opera **/
  transform: translate(0, -10px);
  -webkit-transform: translate(0, -10px); /** Chrome & Safari **/
  -o-transform: translate(0, -10px); /** Opera **/
  -moz-transform: translate(0, -10px); /** Firefox **/
}

.App-section-ctas-header-top {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
}

.App-section-ctas-header {
  margin-top: 30px;
  font-size: 44px;
}

.App-section-ctas-content {
  margin-top: 70px;
  font-size: 20px;
  line-height: 38px;
  flex-grow: 1;
}

.App-section-ctas-link {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
}

.App-section-technology {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0;
  grid-template-areas:
    'title1 title1 title1'
    'escrow privacy blockchain';
  font-family: Nunito;
  background: #fff;
  text-align: center;
}

.App-section-technology-h2, .App-section-useCases-h2, .App-section-faq-h2 {
  grid-area: title1;  
  font-family: Roboto;
  font-weight: lighter;
  font-size: 50px;
  line-height: normal;
  color: #14213D;
  margin-top: 130px;
  margin-bottom: 30px;
}

.App-section-technology-card {
  text-align: center;
  padding: 40px;
  transition: box-shadow 0.3s;
}

.App-section-useCases-card {
  text-align: center;
  padding: 40px;
  transition: box-shadow 0.3s;
}

.App-section-useCases-card:hover {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.App-section-technology-icon, .App-section-useCases-icon {
  min-height: 58px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(./assets/shield-icon.svg);
}

.App-section-technology-escrow-icon {
  background-image: url(./assets/shield-icon.svg);
}

.App-section-technology-privacy-icon {
  background-image: url(./assets/user-shield-icon.svg);
}

.App-section-technology-blockchain-icon {
  background-image: url(./assets/stream-icon.svg);
}

.App-section-technology-card:hover {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.App-section-technology-card:hover p {
  color: #555;
}

.App-section-technology-card:hover h3, .App-section-useCases-card:hover h3 {
  color: #14213D;
}

.App-section-technology-card:hover h3:after, .App-section-useCases-card:hover h3:after {
  width: 25px;
}

.App-section-technology h3, .App-section-useCases h3 {
  color: #6f6f6f;
  display: inline-block;
  font-size: 24px;
  font-weight: 100;
  transition: color 0.3s;
}
.App-section-technology h3:after, .App-section-useCases h3:after {
  content: '';
  position: relative;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  display: block;
  width: 40px;
  height: 1px;
  background: #6f6f6f;
  transition: width 0.3s;
}

.App-section-technology p, .App-section-useCases p {
  color: #8d7c7c;
  text-indent: 1em;
  font-size: 16px;
  line-height: 26px;
  transition: color 0.3s;
}

.App-section-useCases-wrapper {
  text-align: left;
  background-image: url(./assets/use-cases-bg.png);
  background-size: 100vw auto;
  background-repeat: no-repeat;
  padding-bottom: 100px;
}

.App-section-useCases {
  display: grid;
  margin-top: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0;
  grid-template-areas:
    'title2 title2 title2'
    'title3 title3 title3'
    'key work personnalData';
  font-family: Nunito;
}

.App-section-useCases-h2 {
  grid-area: title2;
  margin-bottom: 40px;
}

.App-section-useCases-h4 {
  grid-area: title3;
  text-align: center;
  font-family: Nunito;
  font-weight: 300;
  font-size: 28px;
  color: #444;
}

.App-section-useCases-key {
  grid-area: key;
}

.App-section-useCases-work {
  grid-area: work;
}

.App-section-useCases-personnalData {
  grid-area: personnalData;
}

.App-section-useCases-card p {
  color: #555;
}

.App-section-useCases-card:hover p {
  color: #14213D;
}

.App-section-useCases-key-icon {
  background-image: url(./assets/key-icon.svg);
}

.App-section-useCases-work-icon {
  background-image: url(./assets/scroll-icon.svg);
}

.App-section-useCases-personnalData-icon {
  background-image: url(./assets/images-icon.svg);
}

.App-section-faq-h2 {
  margin-top: 100px;
}

.Collapsible__contentInner {
  font-family: Nunito;
}

.Collapsible__trigger {
  font-size: 30px;
  display: block;
  font-family: Nunito;
  font-weight: 400;
  text-decoration: none;
  color: #555;
  cursor: pointer;
  position: relative;
  border-bottom: 1px solid #555;

  padding: 10px 0;
  padding-right: 48px;
}

.Collapsible__trigger:after {
  font-family: 'Font Awesome 5 Free';
  content: '\f358';
  position: absolute;
  right: 10px;
  top: 10px;
  display: block;
  transition: transform 300ms; 
}

.Collapsible__trigger.is-open:after {
  transform: rotateZ(180deg); 
}

.App-section-faq {
  display: flex;
  flex-direction: column;
}

.App-banner {
  overflow: hidden;
  margin: 14vh 0 0 0;
  position: relative;
  left: 0;
  color: #fff;
  width: 100vw;
  overflow: hidden;
  line-height: -3px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 80px;
  line-height: 54px;
  color: #fff;
}

.App-banner::before {
  overflow: hidden;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -50vw;
  right: 8vw;
  bottom: 0;
  background: linear-gradient(90deg, #12c2e9 0%, #a6ffcb 156.86%);
  z-index: -1;
  transform: skew(-45deg);
}

.App-banner-container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.App-banner-container-icons {
  margin: 10px 0 0 0;
  width: 50vw;
}

.App-banner-container-item {
  overflow: hidden;
  width: 24vw;
  margin: 10px 0 0 0;
  position: relative;
  right: -8px;
  color: #fff;
  width: 50vw;
  line-height: -3px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 80px;
  line-height: 54px;
  text-align: left;
  padding-left: 14vw;
}

.App-banner-container-item::before {
  overflow: hidden;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: -50vw;
  left: 10vw;
  bottom: 0;
  background: linear-gradient(270deg, #a6ffcb -105.1%, #12c2e9 272.14%);
  z-index: -1;
  transform: skew(-45deg);
}

.App-banner-icon {
  position: relative;
  left: 4vw;
  height: 30px;
  padding: 10px 3.5vw 0 0;
}

/* Tooltip container */
.App-tooltip {
  float: right;
  position: relative;
  color: #ccc;
  font-weight: bold;
  text-align: right;
  display: block;
  padding-right: 0.1vw;
  cursor: pointer;

}

/* Tooltip text */
.App-tooltip .App-tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #444;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  width: 500px;
  font-weight: lighter;
  font-family: Nunito;
  padding: 10px 20px;
  position: absolute;
  top: -30px;
  right: 70px;
  z-index: 1;
  cursor: pointer;
  text-align: left;
}

/* Show the tooltip text when you mouse over the tooltip container */
.App-tooltip:hover .App-tooltiptext {
  visibility: visible;
}

.App-cta-container {
  margin-top: 90px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.App-cta-container-cards {
  background: #fff;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  min-height: 480px;
  width: 375px;
  font-family: Roboto;
  font-size: 16px;
  line-height: 19px;
  color: #444;
  padding: 0 45px;
  box-sizing: border-box;
}

.App-cta-container-cards ul {
  padding-bottom: 15px;
}

.App-cta-container-cards li {
  list-style-image: url(./assets/check.svg);
  padding: 2px 0 2px 10px;
  font-family: Roboto;
  font-size: 20px;
  line-height: 30px;
}

.App-cta-container-loser li {
  color: #fff;
  list-style-image: url(./assets/check-white.svg);
}

.App-cta-container-cards-form {
  box-shadow: 3px 3px 30px #ccc;
  border-radius: 50px;
  height: 51px;
  background: #fff;
  transition: all .2s ease-in-out;
  overflow: visible;
  position: absolute;
}

.App-cta-container-cards-form:hover {
  transform: scale(2);
}

.App-cta-container-cards-form:hover .App-cta-container-cards-input {
  width: 280px;
}

.App-cta-container-cards-input {
  transition: all .2s ease-in-out;
  display: inline;
  background: #fff;
  border: 3px solid #fff;
  border-radius: 50px 0 0 50px;
  line-height: 43px;
  width: 185px;
  outline: 0;
  padding-left: 10px;
  font-size: 18px;
  font-family: Nunito;
  box-sizing: border-box;
  margin: 0;
}

input:invalid {
  box-shadow: none;
}

.App-cta-container-cards-btn {
  display: inline;
  margin: 0;
  box-sizing: border-box;
  float: right;
  background: #fff;
  border: 3px solid #fff;
  line-height: 43px;
  width: 100px;
  outline: 0;
  font-size: 14px;
  font-family: Roboto;
  padding: 0;
  padding: 1px 1px 1px 10px;
  position: relative;
  border-radius: 50px;
  background: #12C2e9;
  color: #fff;
  /* show a hand cursor on hover; some argue that we
  should keep the default arrow cursor for buttons */
  cursor: pointer;
}

.App-cta-container-cards-btn:hover {
  background: #a6ffcb;
}

.App-cta-container-cards-title {
  font-family: Roboto;
  font-weight: 900;
  font-size: 34px;
  line-height: 40px;
  text-align: center;
  color: #c8c8c8;
}

.App-cta-container-cards-title-white {
  color: #fff;
}

.App-cta-container-free {
  margin-left: 5vw;
}

.App-cta-container-loser {
  background: linear-gradient(229.83deg, #12C2E9 56.82%, #A6FFCB 132.41%);
}

.App-cta-container-company {
  margin-right: 5vw;
}

.App-quote-container {
  margin-top: 90px;
  text-align: center;
  line-height: 50px;
  height: 150px;
}

.App-quote {
  font-family: Nunito;
  font-size: 40px;
  color: rgba(68, 68, 68, 0.5);
  font-weight: bold;
  margin-left: -55px;
}

.App-quote:before {
  font-weight: normal;
  position: relative;
  top: 80px;
  content: '\201C';
  color: #e7e6e4;
  font-size: 6em;
  z-index: -1;
}

.App-footer {
  margin-top: 80px;
  background: #f2f2f2;
  line-height: 52px;
  font-size: 14px;
  line-height: 52px;
  text-align: center;
  color: #cfcfcf;
  padding: 0 5em;
}

.App-footer-telegram {
  position: absolute;
  left: 5em;
  padding: 10px 20px 0 0;
  cursor: pointer;
}

.App-footer-github {
  padding: 10px 20px 0 0;
  position: absolute;
  left: calc(5em + 50px);
  margin-top: 2px;
  cursor: pointer;
}

@media (max-width: 48em) {
  .App-header-menu {
    position: fixed; 
    top:0;
    margin-top: 0;
  }

  .App-header-menu-logo {
    padding-left: 20px;
  }

  .App-header-wrapper-content {
    position: absolute;
    top: 30vh;
    font-size: 32px;
  }

  .App-header-wrapper-content-subtitle {
    font-size: 26px;
  }

  .App-header-wrapper-content-buttons {
    position: relative;
    top: 18vh;
  }
  
  .App-header-wrapper-content-buttons a {
    width: 50vw;
    margin-top: 3vh;
  }

  .App-header-wrapper-content-buttons-space {
    display: none;
  }

  .App-section-how-h2 {
    width: 100%;
    font-size: 30px;
    text-align: center;
  }

  .App-section {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0;
    grid-template-areas:
      'title'
      'illustration0'
      'description0'
      'illustration1'
      'description1'
      'illustration2'
      'description2';
  }

  .App-section-ctas { /* create new div with btns display switch */
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0;
    grid-template-areas:
      'owner'
      'finder';
  }

  .App-section-ctas-owner {
    padding: 35px 30px;
    margin-bottom: 30px;
  }

  .App-section-ctas-finder {
    padding: 35px 30px;
  }

  .App-section-ctas-header {
    font-size: 24px;
  }

  .App-section-ctas-content {
    font-size: 18px;
  }

  .App-section-technology {
    grid-template-columns: 1fr;
    grid-template-areas:
      'title1'
      'escrow'
      'privacy'
      'blockchain';
  }

  .App-section-technology-h2 {
    font-size: 30px;
  }

  .App-section-useCases-wrapper {
    background-size: cover;
    padding-bottom: 150px;
  }

  .App-section-useCases-h2 {
    font-size: 30px;
    text-align: center;
  }

  .App-section-useCases-h4 {
    font-size: 24px;
  }

  .App-section-useCases {
    grid-template-areas:
      'title2'
      'title3'
      'key'
      'work'
      'personnalData';
  }

  .App-section-faq-h2 {
    margin-top: 0;
    font-size: 40px;
  }

  .Collapsible__trigger {
    font-size: 20px;
  }

  .App-banner-container-full {
    display: none;
  }

  .App-cta-container-free {
    display: none;
  }
  
  .App-cta-container-loser {

  }
  
  .App-cta-container-company {
    display: none;
  }

  .App-quote-container {
    display: none;
  }

  .App-footer-telegram, .App-footer-github {
    display: none;
  }
}

